/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

/.zed/

# rspec failure tracking
.rspec_status

# binaries
/lib/bundlebun/vendor/bun/bun
/lib/bundlebun/vendor/bun/bun.exe

.env.dev
